@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@350&display=swap');
body{
font-family: 'Roboto', sans-serif;

background-color: black;
}
.container-config{
height: 100vh;
display: flex;
flex-direction: column;
align-items:center;
background-image: url('../assets/icons/kuiper1.png');
background-position: center;
flex-wrap: wrap;
background-repeat: no-repeat;

}
.button-container-config{
    flex: 1;
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.empty-config{
    flex:1
}
.selectiontext{
    flex:1;
    font-size: 4vh;
}
input[type='file'] {
    color: rgba(0, 0, 0, 0)
  }
.button-style-config{
    width: 230px;
    height: 60px;
    background: #C4C4C4;
    border-radius: 30px;
    border-width: 0px;
   
    font-family: 'Roboto';
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    cursor:pointer;
    flex: 1;
   

    margin-bottom: 20px;
}
.button-api-config{
    width: 230px;
    height: 60px;
    background: #C4C4C4;
    border-radius: 30px;
    border-width: 0px;
   
    font-family: 'Roboto';
  
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    cursor:pointer;
    flex: 1;
   
   
   

}
.api-text-config{
    background: linear-gradient(to right, #f85398, #9555e9e7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.options-config{
    width: 230px;
    background: #C4C4C4;
    border-radius: 10px;
    border-width: 0px;
    
    margin-left: 15px;

}

.option-palette-config{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 10px;
}
.buttonlink-config{
    flex: 1;
    justify-content: center;
    display: flex;
   
    text-decoration: none;
}
@media only screen and (max-width: 600px) {
    
    
    .button-container{
        justify-content: center;
    }
    .button-style-config{
        width: 200px;
        height: 50px;
        background: #C4C4C4;
        border-radius: 20px;
        border-width: 0px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 2vh;
        cursor:pointer;
        flex: 1;
        
    
        margin-bottom: 1vh;
    }
    .empty-config{
        flex: 0.5;
    }
    .options-config{
        width: 200px;
        background: #C4C4C4;
        border-radius: 10px;
        border-width: 0px;
        margin-bottom: 1vh;
        margin-left: 1vh;
    
    }
    .option-palette-config{

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        margin-left: 2vh;
        margin-top: 2vh;
        
    }
    .button-api-config{
        width: 200px;
        height: 50px;

        border-radius: 20px;
    }
  
  }