@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@350&display=swap');
body{
font-family: 'Roboto', sans-serif;

background-color: black;
}
.container-section{

height: 100vh;

display: flex;
flex-direction: column;
align-items:center;
background-image: url('../assets/icons/kuiper1.png');
background-position: center;
flex-wrap: wrap;
background-repeat: no-repeat;

}
.button-container-section{
    flex: 1;
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.empty-section{
    flex:1
}
.button-style-section{
    width: 230px;
    height: 60px;
    background: #C4C4C4;
    border-radius: 30px;
    border-width: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    cursor:pointer;
    flex: 1;
    

    margin-bottom: 20px;
}
.options-section{
    width: 230px;
    background: #C4C4C4;
    border-radius: 10px;
    border-width: 0px;
    
    margin-left: 15px;

}

.selectiontext{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    color: #FFFFFF;
    flex:1  ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

}
.selectiontext2{
    flex: 1;
   display: flex;
   flex-wrap: wrap;
}

.bottom-text{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.option-palette-section{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 10px;
}
.buttonlink{
    flex: 1;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
}
@media only screen and (max-width: 600px) {
    
    
    .button-container{
        flex:4;
    }
    .selectiontext{
        flex:1;
        font-size: 4vh;
    }
    .selectiontext2{
        flex:1;
        font-size: 2vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
    }
    .bottom-text{
        font-size: 4vh;

    }
    .button-style-section{
        width: 200px;
        height: 50px;
        background: #C4C4C4;
        border-radius: 20px;
        border-width: 0px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 3vh;
        cursor:pointer;
        flex: 1;
        
    
        margin-bottom: 1vh;
    }
    .empty-section{
        flex: 0;
    }
    .options-section{
        width: 200px;
        background: #C4C4C4;
        border-radius: 10px;
        border-width: 0px;
        margin-bottom: 1vh;
        margin-left: 1vh;
    
    }
    .option-palette-section{

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        margin-left: 2vh;
        margin-top: 2vh;
        
    }
  
  }