@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@350&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    flex-wrap: wrap;
}
.container{
    flex:1;
    display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;

}
.leftsection {
display: flex;
flex:1;
flex-direction: column;
flex-wrap: wrap;
}
.rightsection{
flex:1
}
.logo{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 47px;
color: #FFFFFF;
flex-direction: row;
display: flex;
flex:1;
margin-left: 20px;
flex-wrap: wrap;
}
.asteroid{
   max-width: 590px;
    resize: both;
    width: auto;
    height: auto;
}
@media only screen and (max-width: 600px) {
    .asteroid{
        max-width: 350px;
        resize: both;
        width: auto;
        height: auto;
    }
    .hometext{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10vh;
    }
    .button-container{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        margin-top: 5vh;
    }
    .button-style{
        margin-top: 5vh;
    }
  }
.hometext{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 70px;
display: flex;
flex-wrap: wrap;
color: #FFFFFF;
flex:1;
max-width: 600px;
margin-left: 20px;

}
.button-container{
    flex: 1;
    align-items: flex-start;
    
}
.button-style{
    width: 200px;
    height: 60px;
    background: #C4C4C4;
    border-radius: 30px;
    border-width: 0px;
    margin-left: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    cursor:pointer;
    flex:1;
}
.button-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}
.aiml{


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 70px;
background: linear-gradient(to right, #ff4eca, #ac7aeee7);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
margin-left: 10px;
}
