.signup{
  background-image: url('./assets/icons/asteroid.png');
  background-size: contain;
  height: 100vh;
display: flex;
flex-direction: column;
align-items:center;
background-position: center;
flex-wrap: wrap;
background-repeat: no-repeat;

}
.button-auth {
    flex:1.5;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    flex-wrap: nowrap;
    height: 45px;
    flex-direction: 'row';
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    background-color: white;
    /* box-shadow: 0px 16px 60px rgba(78, 79, 114, 0.1); */
    box-shadow: 0px 16px 60px rgba(78, 79, 114, 0.08);

  }
  
  .buttonText-auth {
    color: #4285f4;
    font-weight: bolder;
    flex:1.5
  }
  
  .icon {
    height: 25px;
    width: 25px;
    margin-right: 0px;

    left: 30px;
    flex: 1;
    align-items: center;
  }
  .icon_profile {
    height: 25px;
    width: 25px;
    border-radius: 12px;
    left: 30px;
    align-items: center;
    margin-right: 5px;
  }
  @media only screen and (max-width: 600px) {
    .button-auth{
      font-size: 10px;
    }
  }